/* Stili specifici per la pagina Home */

.home-page {
  padding: 40px 0;
}

.footer-area {
  padding-top: 20px;
}

.list_link a:not(.btn) {
  margin: 20px;
  white-space: nowrap;
}

.medical-services li .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
}

.medical-services li .icon > img {
  width: 100%;
}

.you_video iframe {
  width: 100%;
}
